.inkq-button {
	$name: &;

	background-color: var(--button-background);
    border-radius: var(--inkq-border-radius-chip);
    border: 1px solid var(--button-border);
	color: var(--button-color);
	display: inline-block;
	font: var(--inkq-font-label);
    letter-spacing: var(--inkq-font-tracking-stat);
	overflow: hidden;
    padding: var(--inkq-pad-chip);
	position: relative;
    text-decoration: none;
	touch-action: manipulation;
    transition: var(--inkq-motion-colors);
	user-select: none;
	vertical-align: middle;
	width: auto;

	&::after {
		background-color: inherit;
		content: '';
		display: block;
		height: 100%;
		inset: 0;
		opacity: 0;
		position: absolute;
		transition: var(--inkq-motion-colors), var(--inkq-motion-opacity);
		width: 100%;
		z-index: 1;
	}

	&__inner {
		align-items: center;
		display: flex;
		gap: var(--inkq-space-inset-sm) var(--inkq-space-inset-min);
		justify-content: center;
		position: relative;
	}

	&__section {
		align-items: center;
		display: inline-flex;
	}

	&__icon {
		display: inline-block;
		inset: auto;
		opacity: 0;
		position: absolute;
		z-index: 5;
	}

	&:not(
		:disabled,
		[data-disabled],
		[data-loading]
	):hover {
		background-color: var(--button-background-hover);
		border-color: var(--button-border-hover);
		cursor: pointer;
	}

	&:where([data-block]) {
		display: block;
		width: 100%;
	}

	&:where([data-disabled]) {
		background-color: rgb(from var(--button-background) r g b / var(--inkq-opacity-disabled));
		// opacity: var(--inkq-opacity-disabled);
	}

	&:where([data-loading]) {
		cursor: progress;

		&::after {
			opacity: 1;
		}

		#{$name}__label,
		#{$name}__section {
			opacity: 0;
		}

		#{$name}__icon {
			animation:
				fadeIn var(--duration-default) ease-out var(--duration-instant) forwards,
				spin 2s linear calc(var(--duration-gradual) - var(--duration-default)) infinite;
		}
	}
}

.inkq-button-group {
	display: flex;
	gap: var(--inkq-space-inset-sm);
	max-width: fit-content;
	padding-block: var(--inkq-space-inset-sm);

	&:where([data-block]) {
		flex: 1 1 100%;
		justify-content: space-between;
		max-width: none;
		width: 100%;
	}

	&:where([data-direction="vertical"]) {
		flex-direction: column;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
