.inkq-navbar {
	background-color: var(--inkq-background-page);
	margin: 0 auto;
	max-width: var(--inkq-container-app-width);
	padding: var(--inkq-container-app-padding);
	position: relative;
	z-index: 20;

	&__inner {
		align-items: center;
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		position: relative;
	}

	&:where([data-block]) {
		display: block;
		width: 100%;
	}
}
