.inkq-group {
	$name: &;

	--group-item-count: auto-fit;
	--group-item-width: 1fr;
	--group-cols: repeat(var(--group-item-count), var(--group-item-width)) auto;

	display: grid;
	gap: var(--space-5);
	grid-template-columns: var(--group-cols);

	&__item {
		align-self: center;
		position: relative;
		row-gap: var(--space-2);
	}

	&:not([aria-orientation]) {
		--group-item-width: minmax(0, 1fr);
		--group-cols: repeat(var(--group-item-count), var(--group-item-width));
	}

	&:not([data-divide]) {
		& > * {
			padding-inline: 0;
		}
	}

	&:where([data-divide]) {
		overflow: clip;

		& > * {
			box-shadow: 1px 0 0 var(--inkq-border);
		}
	}
}
