.inkq-group {
	$name: &;

	&__item {
		row-gap: var(--space-2);
	}

	&:not([data-divide]) {
		& > * {
			padding-inline: 0;
		}
	}

	&:where([data-divide]) {
		overflow: clip;

		& > * {
			box-shadow: 1px 0 0 var(--inkq-border);
		}
	}

	&--grid {
		--group-cols: auto-fit;

		display: grid;
		grid-template-columns: repeat(var(--group-cols), minmax(0, 1fr));
	}
}
