.inkq-statistic {
	$name: &;

	--statistic-align: normal;
	--statistic-direction: inherit;
	--statistic-row-gap: var(--space-1);

	flex-direction: var(--statistic-direction);
	justify-content: var(--statistic-align);
	row-gap: var(--statistic-row-gap);

	&__inner {
		--stat-icon-margin: 0 var(--space-2) calc(.75 * var(--space-2)) 0;
		--icon-size: 1.625rem;

		font: var(--statistic-font-value);

		svg {
			margin: var(--stat-icon-margin);
		}
	}

	&__caption {
		font: var(--statistic-font-caption);
	}

	&__value {
		font-variant-numeric: tabular-nums;
	}

	&--sm {
		--statistic-row-gap: var(--space-2);

		#{$name} {
			&__inner {
				--stat-icon-margin: 0 calc(1.5 * var(--space-1)) calc(.75 * var(--space-1)) 0;
				--icon-size: .875rem;
			}
		}
	}

	&--lg {
		#{$name} {
			&__inner {
				font-family: var(--inkq-font-family-mono);
				font-weight: var(--inkq-font-weight-bold);
				line-height: 1.3;
			}
		}
	}
}
