.inkq-Button {
	background-color: var(--button-background, var(--inkq-background-backup));
    border-radius: var(--inkq-border-radius-chip);
    border: 1px solid var(--button-border, var(--inkq-border-backup));
	color: var(--button-color, var(--inkq-color-backup));
	display: inline-block;
	font: var(--inkq-font-label);
    letter-spacing: var(--inkq-font-tracking-stat);
    opacity: 1;
	overflow: hidden;
    padding: var(--inkq-pad-chip);
	position: relative;
    text-decoration: none;
	touch-action: manipulation;
    transition: var(--inkq-motion-box);
	user-select: none;
	vertical-align: middle;
	width: auto;

	&:enabled:hover {
		background-color: var(--button-background-hover, var(--button-background));
		border-color: var(--button-border-hover, var(--button-border));
	}

	&:where([data-block]) {
		display: block;
		width: 100%;
	}

	&:where([data-disabled]) {
		opacity: var(--inkq-opacity-disabled);
	}

	&__inner {
		align-items: center;
		display: flex;
		gap: var(--inkq-space-inset-sm);
		justify-content: center;
		position: relative;
	}
}
