.inkq-Button {
	--button-padding: var(--inkq-space-inset-sm) var(--inkq-space-inset-lg);

	background-color: var(--button-background, var(--inkq-accent));
    border-radius: var(--inkq-border-radius-sm);
    border: 1px solid var(--button-border, var(--inkq-accent));
	color: var(--button-color, var(--inkq-color-link));
    cursor: pointer;
	display: inline-block;
	font-size: var(--inkq-font-size-label);
    font-weight: var(--inkq-font-weight-bold);
    letter-spacing: 0.01em;
	line-height: 1;
    opacity: 1;
	overflow: hidden;
    padding: var(--button-padding);
	position: relative;
	touch-action: manipulation;
    text-decoration: none;
    transition: var(--inkq-motion-interactive);
	user-select: none;
	vertical-align: middle;
	width: auto;

	&:hover {
		background-color: var(--button-background-hover, var(--inkq-accent-hover));
		border-color: var(--button-border-hover, var(--inkq-accent-hover));
		color: var(--button-color-hover, var(--inkq-color-link-hover));
	}

	&:where([data-block]) {
		display: block;
		width: 100%;
	}

	&__inner {
		align-items: center;
		display: flex;
		gap: var(--inkq-space-inset-sm);
		justify-content: center;
		position: relative;
	}
}
