[data-theme="dark"] {
	--color-01:				var(--color-onyx);
	--color-02:				var(--color-asphalt);
	--color-03:				var(--color-charcoal);
	--color-04:				var(--color-ebony);
	--color-05:				var(--color-gunmetal);
	--color-06:				var(--color-smoke);

	/* -------- brand -------- */

	--brand: 				var(--color-fire);
	--brand-hover:			var(--color-signal);
	--brand-press:			var(--color-lava);
	--brand-tint:			var(--color-derby);

	--text-bright:			var(--color-charcoal);
	--text-dim:				#B9B7B2;
	--text-mute:			#8B8B90;
	--text-glare:			#FFFFFF;
}
