@import url('colors.css');
@import url('dark.css');
@import url('light.css');
@import url('root.css');

[data-theme="dark"] {
	color-scheme: dark;
}

[data-theme="light"] {
	color-scheme: light;
}

@media (prefers-color-scheme:  light) {
	:root {
		color-scheme: light;
	}

	html {
		color-scheme: light;
	}
}


@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}

	html {
		color-scheme: dark;
	}
}
