
.inkq-card {
	$name: &;

	position: relative;

	&__wrapper {
		align-items: start;
		display: flex;
		flex-direction: column;
		gap: var(--space-3);
		opacity: 1;
		transform: none;
		transition: opacity 560ms var(--ease-out) 38ms, transform 560ms var(--ease-out) 38ms;
	}

	&__image {
		aspect-ratio: 1 / 1;
		border-radius: var(--inkq-border-radius-md);
		overflow: hidden;
		position: relative;
		width: 100%;

		&::after {
			// background: linear-gradient(135deg, var(--ink-4), var(--ink-1));
			background: var(--inkq-background-gradient);
			content: '';
			display: block;
			height: 100%;
			pointer-events: none;
			position: absolute;
			width: 100%;
			z-index: 0;
		}

		&-caption {
			// bottom: var(--space-3);
			color: var(--inkq-color-text-tertiary);
			font: var(--inkq-text-caption-image);
			// left: var(--space-3);
			inset: auto auto var(--space-3) var(--space-3);
			letter-spacing: var(--inkq-font-tracking-meta);
			max-width: 80%;
			position: absolute;
			text-transform: uppercase;
			z-index: 2;
		}
	}

	&__title {
		font-weight: var(--inkq-font-weight-semibold);
	}

	&__caption {
		color: var(--inkq-color-text-tertiary);
		font: var(--inkq-text-caption);
		letter-spacing: var(--inkq-font-tracking-wide);
		text-transform: uppercase;
	}
}
