
.inkq-container {
	$name: &;

	position: relative;

	&__inner {
		& > :first-child {
			margin-top: 0;
		}
	}

	// &:first-child #{$name} {
	// 	&__description {
	// 		margin-top: var(--inkq-hero-gap-lede);
	// 	}
	// }

	// &:not(:first-child) #{$name} {
	// 	&__description {
	// 		margin-top: var(--inkq-stack-gap-lede);
	// 	}
	// }
}
