
.inkq-container {
	$name: &;

	position: relative;

	&__inner {
		& > :first-of-type {
			margin-top: 0;
		}
	}

	// &:first-of-type #{$name} {
	// 	&__description {
	// 		margin-top: var(--inkq-hero-gap-lede);
	// 	}
	// }

	// &:not(:first-of-type) #{$name} {
	// 	&__description {
	// 		margin-top: var(--inkq-section-gap-lede);
	// 	}
	// }
}
